*{
   
 box-sizing: border-box;
}
:root{
--theme1:rgb(255, 230, 0);
--theme2:black;
--theme3:white;
}
html{
background-color: var(--theme2); 
}
h1{
color:var(--theme1);
text-decoration: bold;
font-size: 72px;
font: 'Ariel', 'Times New Roman', 'sans-serif'; 
}
h2{
  color:var(--theme1);
  text-decoration: bold;
  font-size: 24px;
  display:relative;
}
a {
  color:var(--theme1);
  text-decoration: none;
  background-color: none;
}
p{
text-indent: 2%;
color:var(--theme1);
font:'Times New Roman', 'sans-serif';
font-size: 25px;
}
.profile_img{
display:flex;
flex:1 0 310px;
width:25%;
margin:5% auto;
border:0 solid black;
float:left;
margin-left: 100px;    
margin-right: 25px;    
}
.header_links{
display:inline-block;
width:20%;
border:5px solid var(--theme1);
position: relative;
color:var(--theme1);
text-align: center;
font-size: 44px;
font: 'Roboto', 'Ariel', 'sans-serif';
text-decoration: bold;
justify-content: space-between;
border-radius: 200px;


}
.main_page{
border: 5px dotted var(--theme1); 
display:block;
block-size: 100%; 
}
.links div{
    position: relative;
    display: inline-block;
    direction: row;
    }
.links-column{
  flex: 0 0 33.333%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.header_links_space{
  color:var(--theme2);
  font-size: 62px;
  display: contents;
}

.banner-left{
  display:flex;
  flex:1 0 25%;
  float: left;
}

.banner-right{
  display:flex;
  flex:1 0 25%;
  float: right;
}
.twitch-logo{
  display:flex;
  float:left;
  direction:row;
}
.work-page{

}
.twitch-page{
  display:contents;
  float:left;
  direction:row;
  align-content: flex-start;
  flex:1 0 74%;    
}
section{
    display: contents;
    border-spacing: 100px;
}

.twitch-title{
  line-height: 3.5;
  font-size: 124px;
  float: left;
  align-items: center;
  margin-left:2%;
}
.twitch-emotes{
  display:flex;
  float:right;
}

/*Making of the grid for the display of my Work-page*/
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.column{
  flex: 1 0 70%;
  padding: 1.5rem;
}
.project-display{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100%;
  padding: 5%;
  color: var(--theme1);
}
.project-display .project-header {
  position: flex;
  border: 2px solid var(--theme1);
  background-color: var(--theme2);
  color: var(--theme1);
  margin: -4rem 0 1.5rem 0;
  border-radius: 8px;
}
 .project-display .project-header #green-border-project-header
 {
   position: flex;
    border: 2px solid rgb(0, 228, 68);
    background-color: var(--theme2);
    color: var(--theme1);
    margin: -4rem 0 1.5rem 0;
    border-radius: 8px;
}
#clickable1, #clickable1 {

}
  
}
#clickable:hover{
  box-shadow: inset 0px 0px 20px var(--theme1), 0 0 35px var(--theme1);
}
/*Glow animation for hovering links*/

#clickable1:hover{
  box-shadow: inset 0px 0px 20px rgb(0, 228, 68), 0 0 35px rgb(0, 228, 68);
}
.clickable .clickable-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    
  }
  
.clickable:hover,
.clickable:hover {
    box-shadow: inset 0px 0px 8px var(--theme1), 0 0 15px var(--theme1);
  }


  /* Configuration of twitch player*/

