*{
 background-color: var(--theme2);   
 box-sizing: border-box;
}
:root{
--theme1:rgb(255, 230, 0);
--theme2:black;
--theme3:white;
}

h1{
color:var(--theme1);
text-decoration: bold;
font-size: 72px;
font: 'Ariel', 'Times New Roman', 'sans-serif'; 
}
p{
text-indent: 2%;
color:var(--theme1);
font:'Times New Roman', 'sans-serif';
font-size: 25px;
}
.profile_img{
display:flex;
flex:1 0 310px;
width:25%;
margin:5% auto;
border:0 solid black;
float:left;
margin-left: 100px;    
margin-right: 25px;    
}
.header_links{
display:inline-block;
width:20%;
border:5px solid var(--theme1);
position: relative;
color:var(--theme1);
text-align: center;
font-size: 44px;
font: 'Roboto', 'Ariel', 'sans-serif';
text-decoration: bold;
justify-content: space-between;
border-radius: 200px;


}

.header_links::after{
display: inline-block;
content: "\2059";
align-content: center;
}
.main_page{
border: 5px dotted var(--theme1); 
display:block;
block-size: 100%; 
}
.links div{
    position: relative;
    display: inline-block;
    direction: row;
    }
.links-column{
  flex: 0 0 33.333%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
section{
    display: contents;
    border-spacing: 100px;
}
.header_links_space{
  color:var(--theme2);
  font-size: 62px;
  display: contents;
}

.banner{
  display:flex;
  flex:1 1 25%;
  float: left;
}

.Work-page{
  
}
/*Glow animation for hovering links*/

.clickable .clickable-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
.clickable:hover,
.clickable:hover .clickable-header {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
  }